
<div class="card">
    <div class="card-header">
        <i class="fa fa-users"></i> All Users
    </div>
    <div class="card-block">
        <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#reservationModal">Add New User &raquo;</button>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.Users">
                    <th scope="row">{{item.UName}}</th>
                    <td>{{item.PhoneNumber}}</td>
                    <td>{{item.FirstName}}</td>
                    <td>{{item.LastName}}</td>
                    <td>
                        <button class="btn btn-warning" ng-click="getUser(item.UName)">Edit</button>
                        <button class="btn btn-danger" ng-click="deleteModal(item.UName)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <i class="fa fa-user"></i>
                    <span id="modalTitle">Create New User</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="CancelChanges()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label id="lblError" class="text-danger"></label>

                <div class="row">
                    <div class="col-6">User Name:</div>
                    <div class="col-6">Eamil:</div>
                    <div class="col-6">
                        <input type="text" class="form-control" ng-model="UserInfo.UName" placeholder="User Name..." />
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" ng-model="UserInfo.Email" placeholder="Email..." />
                    </div>
                    <div class="col-6">First Name:</div>
                    <div class="col-6">Last Name:</div>
                    <div class="col-6">
                        <input type="text" class="form-control" ng-model="UserInfo.FirstName" placeholder="First Name..." />
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control" ng-model="UserInfo.LastName" placeholder="Last Name..." />
                    </div>
                    <div class="col-6">Phone Number:</div>
                    <div class="col-6"></div>
                    <div class="col-6">
                        <input type="text" class="form-control phone" ng-model="UserInfo.PhoneNumber" placeholder="Phone Number..." />
                    </div>
                </div><hr />

                <strong>Permissions: </strong><br />
                <div ng-repeat="item in data.Profiles" class="form-check form-check-inline">
                    <input type="checkbox" name="inlineRadioOptions" ng-model="item.Active" ng-true-value="true" ng-false-value="false">
                    <label for="inlineRadio1">{{item.ProfileName}}</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="CancelChanges()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="saveUser()">Save User</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Attention
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="DeleteMessage"></span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal" aria-label="Close">No</button>
                <button class="btn btn-danger" ng-click="deleteUser()">Yes</button>
            </div>
        </div>
    </div>
</div>
